<div class="container">
  <h1 id="logo" class="has-text-centered">Adventure Time!</h1>
  <div class="has-text-centered">
    <%= link_to "Create a New Story!", new_story_path, class: "button is-primary" %>
      <%= link_to "Sign in", new_user_session_path, class: "button is-info" %>
  </div>
</div>