<section class="section">
  <div class="container">
    <article class="message">
      <div class="message-header">
        <p>
          <%= @story.title %>
        </p>
      </div>
      <div class="message-body">
        <%= @story.body %>
      </div>
    </article>
  </div>
</section>