// Place all the styles related to the arcs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.votes {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 900;
}

.not-voted {
  display: none;
}

.voted {
  display: inline;
  font-size: 1rem;
  color: red;
}
