@import "~bulma/bulma";
@import url("https://fonts.googleapis.com/css?family=Kirang+Haerang");

@import "mixins";

#logo {
  font-family: "Kirang Haerang", cursive;
  font-size: 2.5rem;
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.message-header-title {
  text-transform: capitalize;
}

.main-story {
  @include swell;

  &:hover {
    cursor: pointer;
    @include hoverSwell();
  }
}

.modal-background {
  background-color: rgba(33, 33, 33, 0.95);
}

.modal-content {
  width: 90%;
  overflow: hidden;
}

.arc-text {
  color: hsl(96, 23%, 50%);
}

.arc-titles-text a {
  color: #fff;
  font-size: 1rem;

  &:hover {
    color: #ec4c64;
  }
}

.unvoted-arcs {
  @include swell;

  &:hover {
    cursor: pointer;
    @include hoverSwell();
  }
}

.clickable:hover {
  cursor: pointer;
}
